# Local customizations or private files
.ercrc.el
custom.el
games/
mind-wave/
newsrc.eld
org-roam.db
triples.db
volatile/*-priv.el
.chatgpt-shell.el

# Caches
*.elc
.cache/
.emacs.desktop
SessionDesktop.el
ede-projects.el
eln-cache/
elpa/
elpaca/
filesets-cache.el
session.*
var/

# Locks
.emacs.desktop.lock

# Backup or swap files
*~
\#*\#
backups

# OS-specific
.DS_Store

# Other binary blobs
vulpea.db
codeium/
dump/
librime/
tree-sitter/
