# various files
var/

# eln
eln-cache/

# Backup
*~
backups

# Byte-compiled files
*.elc

# Swap files
\#*\#

# Filesets
filesets-cache.el

# Desktop
SessionDesktop.el
.emacs.desktop
.emacs.desktop.lock

# ELPA
elpa/

# Local customizations
custom.el

# Sessions
session.*

# erc
.ercrc.el

# what's this?
network-security.data

# game records (keep it to me!)
games/

# secret files
volatile/*-priv.el

# org roam
org-roam.db

# Hey, Mac!
.DS_Store

# dump
emacs.pdmp

# rime
librime/