# Local customizations or private files
custom.el
.ercrc.el
games/
volatile/*-priv.el
org-roam.db
newsrc.eld
triples.db

# Caches
var/
.cache/
eln-cache/
*.elc
filesets-cache.el
SessionDesktop.el
.emacs.desktop
elpa/
session.*
ede-projects.el

# Locks
.emacs.desktop.lock

# Backup or swap files
*~
backups
\#*\#

# OS-specific
.DS_Store

# Other binary blobs
librime/
tree-sitter/
codeium/
dump/
